:root {
  --color-principal: #333;
  --color-secundario: #555;
  --color-acento: #f4f4f4;
  --espaciado: 20px;
  --color-nav-hover: #666;
  --color-nav-active: #f4f4f4;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  color: var(--color-secundario);
}

body {
  display: flex;
  flex-direction: column;
}

header {
  background-color: var(--color-principal);
  color: var(--color-acento);
  text-align: center;
  padding: var(--espaciado);
  position: relative; /* Asegura que el contenido se posicione correctamente en relación con el header */
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: var(--espaciado);
  background-color: var(--color-principal);
}

header .logo {
  width: 100px;
}

header ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 15px;
}

header ul li {
  display: inline;
}

header ul li a {
  color: var(--color-acento);
  text-decoration: none;
  transition: color 0.3s ease; /* Efecto de transición suave */
}

header ul li a:hover {
  color: var(--color-nav-hover);
  text-decoration: underline;
}

header ul li a.active {
  color: var(--color-nav-active);
}

main {
  flex: 1;
}

.mapa {
  height: 50vh; /* Ajusta la altura del mapa */
  margin: var(--espaciado);
  background-color: #eaeaea;
}

.controles {
  margin: var(--espaciado);
  text-align: center;
}

.selections {
  max-width: 700px;
  margin: 0 auto;
}

select {
  padding: 10px;
  font-size: 16px;
  margin: 10px;
  width: 200px;
}

.section1, .section2 {
  width: 100%;
  height: auto; /* Ajusta la altura según el contenido */
  background-color: #f9f9f9;
  margin: var(--espaciado) 0;
}

section {
  position: relative;
  width: 100%;
  height: auto; /* Ajusta la altura según el contenido */
  display: flex;
  justify-content: center;
}

footer {
  background-color: var(--color-principal);
  color: var(--color-acento);
  text-align: center;
  padding: var(--espaciado);
}

@media (max-width: 1024px) {
  .mapa {
    height: 40vh; /* Ajusta la altura del mapa para pantallas más pequeñas */
  }

  .controles {
    margin: var(--espaciado);
  }

  .section1, .section2 {
    height: auto; /* Permite que la altura se ajuste según el contenido */
  }
}

@media (max-width: 768px) {
  section {
    display: block; /* Cambia a bloque para pantallas pequeñas */
  }

  .selections {
    width: 90%;
  }

  header ul {
    flex-direction: column;
    gap: 10px;
  }

  header ul li {
    margin-bottom: 10px;
  }

  header .logo {
    width: 80px; /* Reduce el tamaño del logo en pantallas pequeñas */
  }
}
