:root {
  --color-principal: #333;
  --color-secundario: #555;
  --color-acento: #f4f4f4;
  --espaciado: 20px;
  --color-nav-hover: #666;
  --color-nav-active: #f4f4f4;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  color: var(--color-secundario);
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

.mapa {
  height: 50vh; /* Ajusta la altura del mapa */
  margin: var(--espaciado);
  background-color: #eaeaea;
}

.controles {
  margin: var(--espaciado);
  text-align: center;
}

.selections {
  max-width: 700px;
  margin: 0 auto;
  display: flex; /* Asegura que los elementos dentro de selections se acomoden bien */
  flex-wrap: wrap; /* Permite que los elementos se ajusten en dispositivos más pequeños */
}

select {
  padding: 10px;
  font-size: 16px;
  margin: 10px;
  width: 200px;
}

.section1, .section2 {
  width: 100%;
  height: auto;
  background-color: #f9f9f9;
  margin: var(--espaciado) 0;
}

section {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}

@media (max-width: 1024px) {
  .mapa {
    height: 60vh; /* Ajusta la altura del mapa para pantallas más pequeñas */
  }

  .controles {
    margin: var(--espaciado);
  }

  .section1, .section2 {
    height: auto;
  }

  .selections {
    flex-direction: column;
    width: 100%;
  }

  .selections select {
    width: 100%; /* Hace que los selectores ocupen el 100% en pantallas pequeñas */
  }

  section {
    display: block; /* Cambia el display a block para pantallas más pequeñas */
    width: 100%; /* Asegura que ocupe todo el ancho disponible */
  }
}

@media (max-width: 768px) {
  section {
    display: block; /* Cambia a bloque para pantallas pequeñas */
    padding: var(--espaciado); /* Agrega espaciado en pantallas pequeñas */
  }

  .selections {
    width: 90%;
  }

  .mapa {
    height: 35vh; /* Reduce la altura del mapa en pantallas muy pequeñas */
  }
}

@media (max-width: 480px) {
  .mapa {
    height: 30vh; /* Ajusta aún más la altura del mapa */
  }

  select {
    font-size: 14px; /* Ajusta el tamaño de la fuente en los selectores */
  }

  .selections select {
    padding: 12px; /* Aumenta el padding para mayor comodidad en pantallas pequeñas */
  }

  footer {
    font-size: 14px; /* Ajusta el tamaño de la fuente en el footer */
    padding: 15px;
  }

  section {
    padding: 10px; /* Ajusta el padding en pantallas pequeñas */
  }
}
