/* Estilo general */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

main {
    width: 80%;
    margin: 20px auto;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

/* Estilo general para todas las tablas */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #4CAF50;
    color: white;
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #f1f1f1;
}

/* Estilos de las acciones */
a {
    color: #007BFF;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
    color: #0056b3;
}

td a {
    margin-right: 10px;
}

td a:last-child {
    margin-right: 0;
}

/* Contenedor principal que agrupa ambas tablas */
.contenedor-tablas {
    text-align: center;
    display: flex;
    justify-content: space-between; /* Alinea las tablas horizontalmente con espacio entre ellas */
}

/* Contenedor individual para cada tabla */
.contenedor-tabla-individual {
    display: inline-block;
    width: 45%;
    text-align: left; /* Mantiene el texto alineado a la izquierda dentro de cada contenedor */
}

/* Responsivo */
@media screen and (max-width: 768px) {
    main {
        width: 95%;
    }

    th, td {
        font-size: 14px;
        padding: 8px;
    }

    h1 {
        font-size: 24px;
    }

    .contenedor-tablas {
        display: block; /* Las tablas se apilan verticalmente en pantallas pequeñas */
    }

    .contenedor-tabla-individual {
        width: 100%;
        margin-bottom: 20px;
    }
}
